.search-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 70%;
}

.search-container input {
    background-color: #ffffff;
    font-size: 1.2rem;
    line-height: 1.5;
    padding: 10px;
    border: solid 2px #000;
    outline: none;
    color: #333;
    box-sizing: border-box;
    border-radius: 5px;
}

.badge-search-status {
  padding: 4px;
  font-size: 10px;
  width: 55px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 15px;
  text-align: center;
  margin-top: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  position: absolute;
  right: 15px;
}

.search-container button {
    color: #fff;
    text-decoration: none;
    background-color: var(--primary-color, #ff4500);
    border: none;
    padding: 12px 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(255, 69, 0, 0.3);
}

.search-container button:hover {
    background-color: var(--secondary-color);
}

.search-container button svg {
    width: 20px;
    height: 20px;
    fill: #ffffff;
}

.search-suggest-container {
    width: 100%;
    position: relative;
}

.suggest-list {
    width: 100%;
    background-color: #ffffff;
    z-index: 1000;
    border-radius: 5px;
    position: absolute;
    border-top: 1px solid #666;
    margin-top: 5px;
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: center;
}
  
  .suggest-list li {
    display: flex;
    align-items: center;
    border-radius: 5px;
    width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .suggest-list li a {
    width: 100%;
    border-bottom: 1px #333 solid;
  }

  .suggest-list li:hover {
    background-color: #F1F1F1;
  }
  
  #loading-ic {
    margin: 5px 0;
  }

  .search-anime-result {
    display: flex;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    color: inherit;
    padding: 10px;
    position: relative;
  }
  
  .search-anime-banner {
    height: 100% !important;
    width: 100px;
    object-fit: cover;
    border-radius: 15px;
    padding: 5px;
  }
  
  .search-anime-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: flex-start;
    gap: 5px;
  }

  .search-anime-time {
    font-style: italic;
  }
  
  .search-anime-info h1 {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .header-text {
    font-size: 1.1rem;
    color: #333;
  }
  
  .search-anime-info h1 .search-anime-rating {
    font-size: 1rem;
    font-weight: bold;
    color: #ffd700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  .search-anime-info h1 .search-anime-rating  i {
    font-size: 0.8rem;
  }
  
  .search-anime-status {
    font-size: 0.75rem;
    color: #666;
  }

@media screen and (max-width: 970px) {
    .search-container {
        width: 100%;
        gap: 10px;
    }
    .search-sec {
        margin-top: 10px;
    }

    .search-container button {
        padding: 10px;
    }

    .search-container input {
        padding: 5px;
        font-size: 1rem;
    }
    
    .search-container button svg {
        width: 15px;
        height: 15px;
    }
       
    .header-text {
        font-size: 0.8rem;
        color: #333;
    }
    
    .search-anime-banner {
        width: 80px !important;
    }

    .header-text {
        width: 70% !important;
    }

    .search-anime-info h1 .search-anime-rating {
        font-size: 0.9rem;
    }
    
    .search-anime-info h1 .search-anime-rating  i {
     font-size: 0.7rem;
    }

    .more-search-re {
      font-size: 0.65rem !important;
    }
}